@{
    ViewBag.Title = "index";
}

<div class="row" style="padding-top: 2em">

    <div id="sidebar" class="colum">
        <div class="row sidebar-menu-row">

            <div class="row sidebar-menu">

                <div class="row">


                    <div class="col-md-12">
                        <img src='@Url.Action("ProfilePicture", "Account", new { userId = @ViewBag.UserId })' width="180em" height="150em" style="padding-bottom: 1em" class="center-block" />
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-6">
                        <p>Nickname - </p>
                    </div>

                    <div class="col-md-6">
                        <p class="pull-right">
                            @Html.Action("GetNickname", "Account", new { id = @ViewBag.UserId }).ToString()
                        </p>

                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <p>Email - </p>
                    </div>

                    <div class="col-md-6">
                        <p class="pull-right">
                            @Html.Action("GetEmail", "Account", new { id = @ViewBag.UserId }).ToString()
                        </p>

                    </div>

                </div>


            </div>

            <div class="row sidebar-menu sidebar-menu-items">

                <p>@Html.ActionLink("All photos", "Index", new { userId = @ViewBag.UserId, albumId = 0 }) <span class="badge pull-right">@ViewBag.AllPhotosCount</span></p>

            </div>

            <div class="row sidebar-menu">

                <p>Albums <span class="badge pull-right">@ViewBag.AlbumsCount</span></p>

                @foreach (var album in ViewBag.Albums)
{
    <div class="row menu-row-padding sidebar-menu-items">

        @Html.ActionLink((string)@album.Name, "Index", new { userId = @ViewBag.UserId, albumId = @album.AlbumID })


    </div>
}

            </div>

        </div>
    </div>

    <div id="content" class="column">
        <div class="row" style="max-width: 100%">

            <div class="row">

                <div class="col-md-6">
                    <h2>@ViewBag.PageDescription</h2>
                </div>

                <div class="col-md-6">
                    <div class="pull-right" style="display: inline">

                        <h5>Display photos in row:</h5>

                        <a href='@Url.Action("Index", new { userId = @ViewBag.UserId, imagesForARow = 1 })'>

                            <div class="btn btn-default">1</div>
                        </a>

                        <a href='@Url.Action("Index", new { userId = @ViewBag.UserId, imagesForARow = 2 })'>

                            <div class="btn btn-default">2</div>
                        </a>

                        <a href='@Url.Action("Index", new { userId = @ViewBag.UserId, imagesForARow = 3 })'>

                            <div class="btn btn-default">3</div>
                        </a>

                        <a href='@Url.Action("Index", new { userId = @ViewBag.UserId, imagesForARow = 4 })'>

                            <div class="btn btn-default">4</div>
                        </a>

                        <a href='@Url.Action("Index", new { userId = @ViewBag.UserId, imagesForARow = 6 })'>

                            <div class="btn btn-default">6</div>
                        </a>

                    </div>
                </div>
            </div>

            <hr />

            @foreach (var container in ViewBag.ImagesGrid)
            {
                <div class="row row-padding">

                    @foreach (var data in container.imagesAndUsers)
                    {
                        <div class='col-md-@Html.Action("getColumns", "Home", new { col = @ViewBag.columns })'>

                            <div class="panel panel-default">
                                <div class="panel-heading">

                                    <h4>Image title: <small><span style="color: darkgrey">@data.image.Title</span></small></h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="showText">

                                            <div class="showImageModal" data-url="@Url.Action("ShowImage", "Home", new { imgUrl = @data.image.ImageUrl, title = @data.image.Title })">
                                            </div>

                                            <div class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="item active" style="background-color: darkgoldenrod;">

                                                        <img src="@Url.Action("RenderImage", "Images", new { filePath = @data.image.ImageUrl })" class="img-responsive img-rounded img-thumbnail blurImage" />

                                                        <div class="carousel-caption invisible tekst">
                                                            <p style="font-weight: bold; color: burlywood">Click for full size!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <div class="imageFavourites" data-url='@Url.Action("ToggleFavouriteImage", "Images", new { imageId = @data.image.ImageID })'>


                                            @Html.Action("returnImageFavouritesWhenUserLogged", "Images", new { imageId = @data.image.ImageID })

                                        </div>
                                    }
                                    else
                                    {
                                        @Html.Action("returnImageFavourites", "Images", new { imageId = @data.image.ImageID })
                                    }
                                </div>
                            </div>

                        </div>
                    }

                </div>

                <hr />

            }

            <footer>
                <p>&copy; @DateTime.Now.Year - ImageShare</p>
            </footer>

            <div id="showImageModal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">

            </div>

    </div>

</div>