<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="body-background">
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="row" style="max-width: 100%;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href='@Url.Action("Index", "Home")' class="navbar-brand">
                        <img src='@Url.Content("~/Content/Images/ImageShareLogo.jpg")' width="100em" height="40em" />
                    </a>
                </div>


                <div class="navbar-collapse collapse">

                    @if (@ViewContext.RouteData.Values["controller"].ToString() == "Home")
                    {
                        <div class="navbar-form navbar-right">

                            @Html.Partial("Search")

                        </div>
                    }




                    <ul class="nav navbar-nav" style="padding-left: 3em;">
                        <li><div class="top-menu-items"><span class="glyphicon glyphicon-home"></span> @Html.ActionLink("Home", "Index", "Home")</div></li>

                        @if (Request.IsAuthenticated)
                        {

                            <li>
                                <div class="top-menu-items"><span class="glyphicon glyphicon-user"></span> @Html.ActionLink("Profile", "Index", "Images")</div>

                            </li>

                            <li>
                                <div class="top-menu-items"><span class="glyphicon glyphicon-upload"></span> @Html.ActionLink("Upload", "AddImages", "Images")</div>
                            </li>
                        }

                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {

                            <li class="dropdown">

                                <div class="top-menu-items">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>

                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                                        <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                                        <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                                    </ul>
                                </div>


                            </li>
                        }
                    </ul>

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="row" style="padding-top: 1em">
            @RenderBody()
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/ModalCreateNewAlbum.js"></script>
    <script src="~/Content/FavouriteUnFavouriteImage.js"></script>
    <script src="~/Content/Design.js"></script>
    <script src="~/Content/ModalEditCategory.js"></script>
    <script src="~/Content/ShowImageModal.js"></script>
</body>
</html>
