@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="padding-top: 2em">

    <div id="sidebar" class="colum">
        <div class="row sidebar-menu-row">

            <div class="row sidebar-menu">

                <p>By category <span class="badge pull-right">@ViewBag.CategoriesCount</span></p>

                @foreach (var cat in ViewBag.Categories)
                {
                    <div class="row menu-row-padding">

                        <p>@Html.ActionLink((string)@cat.category.Name, "Index", new { categoryId = @cat.category.CategoryID }) <span class="badge pull-right">@cat.count</span></p>

                    </div>
                }

            </div>

        </div>
    </div>

    <div id="content" class="column">
        <div class="row" style="max-width: 100%">

            <div class="row row-padding">

                <h4>@ViewBag.PageDescription</h4>
                <hr />

            </div>

            @foreach (var image in ViewBag.Images)
            {
                <img src="@Url.Action("RenderImage", "Images", new { filePath = @image.ImageUrl })" width="500px" height="500px" />
            }

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    </div>

</div>
