@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="padding-top: 2em">

    <div id="sidebar" class="colum">
        <div class="row sidebar-menu-row">

            <div class="row sidebar-menu">

                <p>By category <span class="badge pull-right">@ViewBag.CategoriesCount</span></p>

                @foreach (var cat in ViewBag.Categories)
{
    <div class="row menu-row-padding sidebar-menu-items">

        <p>@Html.ActionLink((string)@cat.category.Name, "Index", "Home", new { categoryId = @cat.category.CategoryID }, null) <span class="badge pull-right">@cat.count</span></p>

    </div>
}

            </div>

        </div>
    </div>

    <div id="content" class="column">
        <div class="row" style="max-width: 100%">

            <div class="row">

                <div class="col-md-6">
                    <h2>@ViewBag.PageDescription</h2>
                </div>

                <div class="col-md-6">
                    <div class="pull-right" style="display: inline">

                        <h5>Display photos in row:</h5>

                        <a href='@Url.Action("Index", new { imagesForARow = 1 })'>

                            <div class="btn btn-default">1</div>
                        </a>

                        <a href='@Url.Action("Index", new { imagesForARow = 2 })'>

                            <div class="btn btn-default">2</div>
                        </a>

                        <a href='@Url.Action("Index", new { imagesForARow = 3 })'>

                            <div class="btn btn-default">3</div>
                        </a>

                        <a href='@Url.Action("Index", new { imagesForARow = 4 })'>

                            <div class="btn btn-default">4</div>
                        </a>

                        <a href='@Url.Action("Index", new { imagesForARow = 6 })'>

                            <div class="btn btn-default">6</div>
                        </a>

                    </div>
                </div>
            </div>

            <hr />

            @foreach (var container in ViewBag.ImagesGrid)
            {
                <div class="row row-padding">

                    @foreach (var data in container.imagesAndUsers)
                    {
                        <div class='col-md-@Html.Action("getColumns", "Home", new { col = @ViewBag.columns })'>

                            <div class="row row-padding">

                                <div class="row">

                                    <div class="col-md-1">
                                        <img src='@Url.Action("ProfilePicture", "Account", new { userId = @data.user.Id })' width="55em" height="55em" style="padding-top: 0.5em; padding-bottom: 0.5em" class="img-circle center-block" />
                                    </div>

                                    <div class="col-md-1"></div>

                                    <div class="col-md-1">

                                        <a href='@Url.Action("Index", "Profile", new { userId = @data.user.Id })' style="padding-top: 2em;" class="pull-left">
                                            @data.user.Nickname
                                        </a>
                                    </div>

                                    <div class="col-md-7"></div>

                                </div>

                                <div class="row">

                                    <img src="@Url.Action("RenderImage", "Images", new { filePath = @data.image.ImageUrl })" class="img-responsive img-rounded img-thumbnail" />

                                </div>

                                <div class="row">

                                    @if (Request.IsAuthenticated)
                                    {
                                        <div class="imageFavourites" data-url='@Url.Action("ToggleFavouriteImage", "Images", new { imageId = @data.image.ImageID })'>


                                            @Html.Action("returnImageFavouritesWhenUserLogged", "Images", new { imageId = @data.image.ImageID })

                                        </div>
                                    }
                                    else
                                    {
                                        @Html.Action("returnImageFavourites", "Images", new { imageId = @data.image.ImageID })
                                    }

                                </div>

                            </div>

                        </div>
                    }

                </div>

                <hr />

            }

            <footer>
                <p>&copy; @DateTime.Now.Year - ImageShare</p>
            </footer>

        </div>

    </div>

</div>