@model ImageShare.Models.ImageViewModel


@using (@Html.BeginForm("AddImages", "Images", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h4>Upload new image(s)</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title1,Title2 for first 2 images" })
        </div>

        <div class="col-md-7"></div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FilesUpload, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.FilesUpload, new { type = "file", multiple = "true" })
        </div>

        <div class="col-md-7"></div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AlbumsDropDown, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.selectedAlbum, Model.AlbumsDropDown, new { @class = "form-control" })

        </div>

        <div class="col-md-3">
           
            <div id="showDialog" class="btn btn-success">Create new album</div>

        </div>

        <div class="col-md-4"></div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CategoriesDropDown, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.selectedCategory, Model.CategoriesDropDown, new { @class = "form-control" })
        </div>

        <div class="col-md-7"></div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Upload Image(s)" />
        </div>
    </div>
}

<div id='albumModal' class='modal' data-url='@Url.Action("CreateNewAlbum")'>
    <div id='modalContainer'>
    </div>
</div>